@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Avant';
    src: url('../public/font/avant/ITCAvantGardeStd-BkCnObl.otf');
}
@font-face {
    font-family: 'QuickBold';
    src: url('../public/font/quiksand/Quicksand-Bold.ttf');
}

@font-face {
    font-family: 'Quicksand';
    src: url('../public/font/quiksand/Quicksand-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

@layer base {
    body {
      @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
      @apply min-h-screen;
    }
}

@keyframes moveRight {
    from{
        transform:translateX(-100%)
    }
    to{
        transform:translateX(0)
    } 
}

@keyframes moveLeft {
    from{
        transform: translateX(100%);
    }
    to{
        transform:translateX(0)
    }
    
}

